.MainLayout {
  display: flex;
  flex-direction: column;
  height: 100%;

  &Section {
    flex: 1;
    position: relative;
  }

  @media screen and (max-width: 700px) {
    &Section {
      overflow: auto;
      margin-top: 3.35em;
    }
  }
}
