.SideBar {
  &Dropdown {
    &Header {
      border: 1px solid #1e2d3d;
      border-left: none;
      border-right: none;
      padding: 0.5em 1em;
      display: flex;
      align-items: center;
      gap: 0.5em;
      color: #ffffff;
      cursor: pointer;

      .DrawerControlOpen {
        transition: all 0.2s linear;
        transform: rotate(90deg);
      }

      .DrawerControlClose {
        transition: all 0.2s linear;
        transform: rotate(0deg);
      }
    }

    &:nth-of-type(1) {
      .SideBarDropdownHeader {
        border-top: 0;
      }
    }

    &Content {
      padding-inline-start: 0;

      li {
        display: inline-block;

        a,
        div {
          padding: 1em 1em 0 1em;
          display: flex;
          align-items: center;
          gap: 0.5em;
          color: #607b96;
        }

        &:nth-last-of-type(1) {
          padding-bottom: 1em;
        }

        div {
          cursor: pointer;

          label {
            cursor: pointer;
            user-select: none;
            display: flex;
            align-items: center;
            gap: 0.75em;
          }

          input[type="checkbox"] {
            cursor: pointer;
            margin-right: 1em;
            position: relative;
            width: 1.2em;
            height: 1.2em;
            color: black;
            border: 1px solid gray;
            border-radius: 3px;
            appearance: none;
            outline: 0;
            cursor: pointer;
            transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
            &::before {
              position: absolute;
              content: "";
              display: block;
              top: -1px;
              left: 4px;
              width: 4px;
              height: 12px;
              border-style: solid;
              border-color: white;
              border-width: 0 1px 1px 0;
              transform: rotate(45deg);
              opacity: 0;
            }
            &:checked {
              color: white;
              border-color: #607b96;
              background: #607b96;
              &::before {
                opacity: 1;
              }
            }

            &:checked ~ label {
              color: #ffffff;
            }
          }
        }
      }
    }

    @media screen and (max-width: 700px) {
      margin-bottom: 0.15em;
      &Header {
        background-color: #1e2d3d;
      }
    }
  }

  .firstDrawerOpen {
    ul {
      transition: display, 0.2s linear;
      display: none;
    }

    .SideBarDropdownHeader {
      border-bottom: 0;
    }
  }
}
