.Card {
  border: 1px solid #1e2d3d;
  border-radius: 7px;
  height: fit-content;

  img {
    border-radius: 7px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &Content {
    padding: 1em;
    padding-top: 0;

    p {
      font-size: 0.95em;
      color: #8ca5b5;
    }

    &Links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 1.5em;

      a.btn {
        font-size: 0.9em;
        background-color: #1c2b3a;
        color: #ffffff;
        padding: 0.5em 1em;
        border-radius: 5px;
      }
    }
  }
}
