.BoxLayout {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;

  &SideBar {
    flex: 1;
  }

  &Content {
    flex: 3;
    box-sizing: border-box;
    border-left: 1px solid #1e2d3d;
    display: flex;
    flex-direction: column;

    &Nav {
      border-bottom: 1px solid #1e2d3d;

      div {
        display: flex;
        align-items: center;
        width: fit-content;
        padding: 0.5em;
        color: #607b96;
        border-right: 1px solid #1e2d3d;

        span {
          margin-right: 2em;
        }
      }
    }

    &Children {
      flex: 1;
      overflow: auto;
    }
  }
}
