.Footer {
  border-top: 1px solid #1e2d3d;
  background-color: #011627;
  color: #607b96;
  z-index: 10;
  display: flex;
  align-items: flex-end;
  // height: 25px;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #1e2d3d;

    &:nth-of-type(1) {
      border: none;
      padding: 0.75em 1em;
      margin: auto 0;

      span {
        margin: 0;
      }
    }

    &:nth-of-type(3) {
      border-right: 1px solid #1e2d3d;
    }

    &:nth-last-of-type(1) {
      margin-left: auto;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1em;
    }

    span {
      margin-right: 0.5em;

      @media (max-width: 700px) {
        &.githubUsername {
          display: none;
        }
      }
    }

    @media (max-width: 700px) {
      &:nth-of-type(2) {
        border-left: 1px solid #1e2d3d;
        margin-left: auto;
      }

      &:nth-of-type(3) {
        border-right: none;
      }

      &:nth-last-of-type(1) {
        margin-left: 0;
      }

      span {
        margin-right: 0.5em;

        @media (max-width: 700px) {
          &.githubUsername {
            display: none;
          }
        }
      }
    }
  }
}
