.Dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #ffffff;

  &Nav {
    display: flex;
    align-items: center;
    gap: 0.5em;
    width: 100%;

    &Title {
      padding: 0 !important;

      span.active {
        color: #ffffff !important;
      }

      &Inactive {
        transition: all 0.2s linear;
        transform: rotate(0deg);
      }

      &Active {
        transition: all 0.2s linear;
        transform: rotate(90deg);
      }
    }
  }
}
