.ProjectPreviews {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3em 1em;
  width: 100%;
  padding: 2em 2em 4em;
  box-sizing: border-box;

  height: 100%;
  overflow-y: scroll;

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 700px) {
    grid-template-columns: 1fr;
  }

  &BlockHeader {
    font-size: 0.85em;
    margin-bottom: 1em;

    span {
      &:nth-of-type(1) {
        color: #5565e8;
      }

      &:nth-of-type(2) {
        color: #8CA5B5;
      }
    }
  }
}
